@tailwind base;
@tailwind utilities;
@tailwind components;

@import "components/layout";
@import "components/buttons";
@import "components/info-blocks";
@import "components/home-page";
@import "components/post-content";

.info-block-inner-block {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 10px;
  padding: 24px 16px 20px;
  width: 100%;
}

body.admin-bar {

  .site-header {
    top: 32px;
  }

  .service-filter-container {

    &.sticky {
      top: 52px;
    }
  }
}

.service-item {
  border-radius: 22px;

  &.selected {
    background-color: rgba(#fff, .14);
    border: 1px solid rgba(#fff, .23);
    order: 0!important;
    padding-left: 14px;
    padding-right: 14px;
  }
}

body {

  &.home {
    padding-top: 40px;
  }

  &.archive {
    padding-top: 80px;
  }

  &.single {
    padding-top: 80px;

    .info-block {
      padding-top: 20px;
      padding-bottom: 26px;

      @media(min-width: 1024px) {
        padding-bottom: 0;
      }

      @media(min-width: 1280px) {
        padding-bottom: 26px;
        padding-top: 90px;
      }
    }
  }

  @media(min-width: 1440px) {
    padding-top: 88px;
  }
}