@tailwind base;
@tailwind utilities;
@tailwind components;

@import "components/layout";

.info-block-inner-block {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 10px;
  padding: 24px 16px 20px;
  width: 100%;
}