@media (max-width: 767px) {
  .grid-sizer {
    display: none;
  }

  .ds-post {
    float: none;
    height: 100vh;
    padding-bottom: 0!important;

    @supports (height: 100dvh) {
      height: 100dvh;
    }

    & > img {
      max-height: 100%;
    }

    & > span {
      height: 100%;
    }
  }
}
