body.home {
  @media (max-width: 767px) {
    .grid-sizer {
      display: none;
    }

    .ds-post {
      float: none;
      height: 100vh;
      padding-bottom: 0;

      & > span {
        height: 100%;

        img {
          object-position: center;
          object-fit: contain;
        }
      }
    }
  }
}