.layout-grid {
  transition: .7s cubic-bezier(0.5, 0, 0.5, 1);

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &.layout-4 {
    display: grid;

    @media(min-width: 767px) {
      display: block;
    }

    & .grid-sizer,
    & .masonry-item {

      @media(min-width: 767px) {
        width: calc((100% - 44px) / 3);
      }

      @media(min-width: 1280px) {
        width: calc((100% - 66px) / 4);
      }
    }
  }

  &.layout-3 {
    & .grid-sizer,
    & .masonry-item {
      width: 100%;
    }

    @media(min-width: 767px) {
      & .grid-sizer,
      & .masonry-item {
        width: calc((100% - 22px) / 2);
      }
    }

    @media(min-width: 1024px) {
      & .grid-sizer,
      & .masonry-item {
        width: calc((100% - 44px) / 3);
      }
    }
  }

  &.layout-2 {

    & .grid-sizer {
      order: 0;
      display: none;

      @media(min-width: 767px) {
        display: block;
        width: calc((100% - 22px) / 2);
      }

      @media(min-width: 1024px) {
        display: none;
      }

      @media(min-width: 1280px) {
        display: block;
      }

      & + .info-block {
        order: unset;
        width: 100%;
        
        @media(min-width: 767px) {
          width: calc((100% - 22px) / 2);
        }

        @media(min-width: 1024px) {
          order: 1;
          width: 100%;
        }

        @media(min-width: 1280px) {
          width: calc((100% - 22px) / 2);
        }
      }
    }

    & .ds-post {
      order: unset;
      float: none;
      width: 100%;
      overflow: hidden;
      display: flex!important;

      @media(min-width: 767px) {
        float: left;
        width: calc((100% - 22px) / 2);
        padding-bottom: 26px;
      }

      @media(min-width: 1024px) {
        float: none;
        order: 2;
        width: 100%;
        padding-bottom: 0;
      }

      @media(min-width: 1280px) {
        float: left;
        width: calc((100% - 22px) / 2);
        padding-bottom: 26px;
      }

      & picture {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //height: 100%;

        & > img {
          width: 100%;
          display: block;
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

body {
  &.fullscreen-mode {
    overflow: hidden;

    .layout-grid {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      background-color: #191919;
      z-index: 1000;
      transform: translateY(0);
    }

    .ds-mobile-filters {
      transform: translateY(0);

      &.active {

        .ds-mobile-filters__button {
          @apply pb-2 border-white/20 border-b;
        }

        .ds-mobile-filters__list {
          display: grid;
        }

        & + .ds-mobile-filters__overlay {
          display: block;
        }
      }
    }
  }
}

.ds-mobile-to-top {
  @apply translate-y-0;

  &.hide {
    @apply translate-y-[150px];
  }
}