.layout-grid {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &.layout-4 {
    display: grid;

    @media(min-width: 767px) {
      display: block;
    }

    & .grid-sizer,
    & .masonry-item {

      @media(min-width: 767px) {
        width: calc((100% - 44px) / 3);
      }

      @media(min-width: 1280px) {
        width: calc((100% - 66px) / 4);
      }
    }
  }

  &.layout-3 {
    & .grid-sizer,
    & .masonry-item {
      width: calc((100% - 44px) / 3);
    }
  }

  &.layout-2 {
    & .grid-sizer,
    & .masonry-item {
      width: calc((100% - 22px) / 2);
    }
  }

  & .masonry-item {
    float: left;
    padding-bottom: 26px;

    & > img {
      width: 100%;
      display: block;
      max-width: 100%;
    }
  }
}

body.home {

  .layout-grid.layout-4 {

    .masonry-item {
      order: 3;
    }

    .grid-sizer + .masonry-item {
      order: 2;
    }

    .info-block-1 {
      order: 0;
    }

    .info-block-2 {
      order: 1;
    }

    .masonry-item,
    .grid-sizer + .masonry-item,
    .info-block-1,
    .info-block-2 {
      @media(min-width: 767px) {
        order: unset;
      }
    }
  }
}